@charset "utf-8";

body {
	margin: 0;
	padding: 0;
	overflow: auto;
	text-align: center;
	font-family: Helvetica;
}

#header {
	background: url("../resources/img/the-flatiron-building.png") top center no-repeat;
}

ul {
	list-style-type: none;
	font-size: 18px;
	color: white;
}

#header li {
	padding: 6px;
}

a {
	color: white;
}

h1 {
	font-size: 70px;
	color: white;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 23px;
}

p {
	font-size: 14px;
}

.contact {
	padding: 2px;
}

.design {
	background: url("../resources/img/the-flatiron-building.png") top center no-repeat;
	color: white;
}

.footer {
	margin: auto;
	text-align: left;
	background-color: dimgray;
	font-size: 11px;
	color: white;
}

.footer li {
	display: inline;
}

#copyright {
	font-size: 11px;
	font-weight: normal;
}

.copyright {
		weight: normal;
}
